/node_modules
/public/storage
/public/css
/public/fonts
/public/chunks
/public/js
/public/chunks
/storage/*.key
/storage/logs
/vendor
/.idea
yarn-error.log
Homestead.json
Homestead.yaml
.env
.env.testing
/public/mix-manifest.json
.vscode/
